@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(87, 85, 194);
  color : white
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.parent{

padding-left: 70px;
padding-right: 50px;
color: white;

}

#home {
  color: white;
  transition: color 0.3s; /* Add a smooth transition for color change */
}

#home:hover{

  cursor: pointer;
  color: rgb(202, 184, 184);
  font-weight: bold;

}

#doctor {
  color: white;
  transition: color 0.3s; /* Add a smooth transition for color change */
}

#doctor:hover {
  cursor: pointer;
  color: rgb(246, 175, 175);
  font-weight: bold;
}
#apps {
  color: white;
  transition: color 0.3s; /* Add a smooth transition for color change */
}

#apps:hover{

  cursor: pointer;
  color: rgb(193, 175, 175);
  font-weight: bold;

}

#test {
  color: white;
  transition: color 0.3s; /* Add a smooth transition for color change */
}

#test:hover{

  cursor: pointer;
  color: rgb(199, 186, 186);
  font-weight: bold;

}

#about {
  color: white;
  transition: color 0.3s; /* Add a smooth transition for color change */
}


#about:hover{

  cursor: pointer;
  color: rgb(180, 166, 166);
  font-weight: bold;

}
.bodyParent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: white;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

#heading1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-align: left;
  color: white;
  margin-left: 55px;
}

#para1 {
  color: #555;
  margin-bottom: 20px;
  text-align: justify;
  padding-right: 30px;
  white-space: pre-line;
  text-align: justify;
  color: white;
  margin-top: 30px;
  margin-left: 55px;
}

#img1 {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn1 {
  display: block;
  margin-top: 10px; /* Add margin between paragraph and button */
}
#servicesHeading{
  
  justify-content: center;
  padding-left: 20px;
  align-items: left;
  margin-right: 100px;
  margin-top: 35px;
  color: white;
}

#servicesHeading p{
  margin-top: 20px;
  font-weight: bold;
  color: white;
}

#services{
  color: white;
}

.healthCareContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 0%;
  color: white;
  
}

.healthCare {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  color: white;
}

.text-container {
  max-width: 400px; 
  color: white;
  
}

#healthcare {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 2px;
  padding: 5px;
  
}

#healthcare p {
  color: #555;
  display: block;
  /* margin-bottom: 5px; */
  align-items: center;
  justify-content: center;
  padding: left 20px; ;
  text-align: justify;
  color: white;
}

.reviews{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 390px;
}
#revpara {
  color: white;
}
#patient{
  color: white;
}
#patientName{
  color: white;
}

.rectangle{
  margin-top: 50px;
}

#rectangleHeading{
  margin-top: 20px;
  padding-bottom: 20px;
}

#patientimg{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 20px;
  padding-bottom: 20px;

}

#articles{
  margin-bottom: 150px;
  padding-bottom: 10px;
  color: white;
}
#artheading{
  margin-bottom: 20px;
  padding-bottom: 10px;
  margin-top: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#headingart{
  color: white;
}

#content{
  color: white;
}

#mobbtn1{

  padding-top: 10px;
}
